body {
    background-color: #B64645;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100%;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    width: 100%;
    margin-left: 30%;
    margin-top: 10%;
}

#content {
    width: 80%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 50px 30px;
}

p {
    color: white;
    font-family: 'Franklin Gothic URW Cond', sans-serif;
    font-size: 18px;
    font-weight: bold ;
    text-align: left;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: -10px;
}

.copyright {
    font-family: 'Franklin Gothic URW Cond', sans-serif;
    font-size: 15px ;
    font-weight: bold ;
    color: white; 
    text-align: center;
    padding: 40px;
}

.homeimage {
    width: 100%;
    border: solid black 2px;
    mix-blend-mode: darken;
}

.closetimage {
    width: 20%;
}

.closetopenimage {
    width: 30%;
    margin-left: 30%;
    padding: 5%;
}

.logo {
    width: 10%;
    mix-blend-mode: darken;
    padding-left: 10px;
    position: absolute;
}

nav {
    margin-left: 0px;
    padding: 30px;
    color: white;
    text-align: right;
    width: 100%;
    font-size: 25px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
}
/* padding-right: 300%;
padding-top: 0%; 
padding-bottom: 0% /*